<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Quiz Menu</h1>
  <a href="/otters/1" class="w3-bar-item w3-button">Otters</a>
  <a href="/anteaters/1" class="w3-bar-item w3-button">Anteaters</a>
  <a href="/owls/1" class="w3-bar-item w3-button">Owls</a>
  <a href="/jellyfish/1" class="w3-bar-item w3-button">Jellyfish</a>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
</nav>

<!-- Header Banner -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  </div>
</header>

<img src="./banner.jpg" alt="Animal themed banner" style="box-sizing:border-box; margin: auto" m>

<!-- Heading text -->
<div class="w3-container">
<hr>
<div class="w3-center">
  <h1 style="font-family:'permanent marker';">Quiz</h1>
</div>


<!-- Subheading Text -->
<hr>
<div class="w3-center">
  <h2>Subheader</h2>
  <p class="w3-large">Subsubheader comment here maybe</p>
</div>
<br>
<ul class="w3-ul w3-border w3-hoverable">
  <li class="w3-theme">{{question.question}}</li>
  <li>{{question.answer1}}</li>
  <li>{{question.answer2}}</li>
  <li>{{question.answer3}}</li>
  <li>{{question.answer4}}</li>
</ul>
<br>
</div>
</div>
</div>
<hr>

<!-- Footer -->
<footer class="w3-container w3-theme-white w3-padding-16">
  <div style="position:relative" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
    <a class="w3-text-orange" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
  <p>Maybe some footer text here</p>
</footer>

<!-- Script for Sidebar -->
<script>
    function w3_open() {
      var x = document.getElementById("mySidebar");
      x.style.width = "100%";
      x.style.fontSize = "40px";
      x.style.paddingTop = "10%";
      x.style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }

    var mybtn = document.getElementsByClassName("testbtn")[0];
    mybtn.click();

</script>